

.tipo {
    display: flex;
    justify-content:  space-between ;
margin:5px;
flex-direction:row;
color:white;

  
}

.Desc {
    display: flex;
    border: 1px solid #EAECF0;
    width: 40%;
    border-radius: 10px;
    justify-content:  space-between ;
    margin:10px;
    padding: 10px;
    color:white;
}

.botao {
 
    border-radius: 5px;
    color:white;
    width: 30%;
}

#divBusca{
    display: flex;
    justify-content: flex-start;
    color:white;
}


.pedidos {
    display: flex;
    justify-content: center;
    gap:32px;
    padding:30px;
    margin:20px;
    height: 50px;
    border-radius: 15px;
    color:white;
  
}

